
/* ---------------------------- FONT IMPORTS */

@font-face {
    font-family: 'Fasio';
    src: url('fonts/Fasio/Fasio-Regular.eot');
    src: url('fonts/Fasio/Fasio-Regular.eot') format('embedded-opentype'),
         url('fonts/Fasio/Fasio-Regular.woff2') format('woff2'),
         url('fonts/Fasio/Fasio-Regular.woff') format('woff'),
         url("fonts/Fasio/Fasio-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ---------------------------- ROOT */

:root {

    /* PALETTE */

    --clr-head-bg: #E7E7E7;
    --clr-main-bg: #000909;
    --clr-tag-bg: #212121;
    --clr-black: #000000;
    --clr-main-text: #FFFFFF;
    --clr-head-text: #008080;
    --clr-hover-scr: #003b3b;
    --clr-highlight-text: #00ACAC;


    /* FONT FAMILY */

    --ff-main: 'Satoshi', sans-serif;
    --ff-title: 'Fasio';

    /* FONT SIZE */

    --fs-080: 0.5rem;
    --fs-120: 0.75rem;
    --fs-140: 0.875rem;
    --fs-160: 1rem;
    --fs-180: 1.125rem;
    --fs-240: 1.5rem;
    --fs-375: 2.4843rem;
    --fs-660: 4.125rem;
    --fs-3400: 4rem;

    /* FONT WEIGHT */

    --fw-norm: normal;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-subhead: 700;
    --fw-name-n-intro: 900;

    /* TRANSITON DURATION  */

    --td-tech-stack-conceal: 0.3s;
    --td-hover-anim: 0.2s;
    --td-click-ease: 0.2s;
}


/* RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0.05rem;
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-family: var(--ff-main);
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: rgb(27, 27, 27);
  }



/* --------------------------------------- UTILITES */

.flex {
    display: flex;
}

.text-highlight {
    font-weight: var(--fw-subhead);
    color: var(--clr-highlight-text);
}

.hr {
    display: inline-block;
    width: 100%;
}

.subtitle {
    font-weight: var(--fw-subhead);
    font-size: var(--fs-180);
}

/* ---------- UTILITES */

/* ------------------------------------------------------------------ MAIN STYLES */

body {
    background-color: var(--clr-main-bg);
    color: var(--clr-main-text);
    overflow-x: hidden;
    letter-spacing: 5%;
}

hr {
    margin-inline-end: 0;
    height:0.063rem;
}

/* -------------------------------------------------------- HEADER */

header {
    height: fit-content;
    width: 100%;
    position: relative;
    background-color: var(--clr-head-bg);
    padding: 0.563rem 0;
    -webkit-box-shadow: 0 0.188rem 0.688rem 0.313rem rgba(0,0,0,0.12); 
    box-shadow: 0 0.188rem 0.688rem 0.313rem rgba(0,0,0,0.12);
}

header hr {
    border-top: 0.063rem solid var(--clr-black);
}

.header-container {
    margin-bottom: -0.625rem;
}

.alias-banner .hr {
    width: min(70%, 95.063rem);
}

.alias-banner > hr {
    width: 100%;
}

.alias-banner > hr {
    margin-right: 0;
}

.header-container .hr {
    margin-top: 0.938rem;
}

.pronunciation {
    vertical-align:0.375rem;
    font-size: var(--fs-140);
    font-weight: var(--fw-reg);
    margin-left: 0.75rem;
    color: var(--clr-black);
    user-select: none;
}

.alias-banner {
    margin-bottom: -0.313rem;
    width: 25rem;
    height: fit-content;
    gap: 1.25rem;
    margin: 0 auto;
}

.alias {
    margin-top: 5%;
    width: 100%;
    font-size: var(--fs-3400);
    font-family: var(--ff-title);
    line-height: 74%;
    color: var(--clr-head-text);
    letter-spacing: 1.0625rem;
    user-select: none;
}

/* --------------- HEADER */

/* --------------------------------------------------- MAIN CONTENT */

main {
    padding: 6.25rem 16% ;
    flex-direction: row;
    justify-content: space-between;
    gap: 6.25rem;
    max-width: 125rem;
    margin: 0 auto 12.5rem;
}

.colapse-catch-container {
    width: 20rem;
    flex-shrink: 0;
}

/* ------------------------------------------------- ABOUT ME */

.about-me-section {
    margin: 1.5rem auto 0 auto;
    height: fit-content;
    flex-direction: column;
}

.personal-intro span, .personal-intro h2 {
    font-weight: var(--fw-name-n-intro);
}

.personal-intro span {
    font-size: var(--fs-140);
    margin-right: auto;
    letter-spacing: 0.094rem;
}

.personal-intro h2 {
    font-size: var(--fs-375);
    transform: translateX(-0.125rem);
    letter-spacing: 0.11719rem;
    width: 303.0.3125rem;
    height: 3.1875rem;
    margin: 0.188rem 0;
}

.personal-intro .hr {
    width: 7rem;
    height: 1.063rem;
    & hr {
        margin-bottom: -0.625rem;
    }
}

#abt-me-text {
    text-align: justify;
    letter-spacing: 1.5;
    margin: 0.938rem 0 0.313rem 0;
    overflow: hidden;
    transition: ease-in-out 1s ;
    height: 28.875rem;
    transition: ease-in-out var(--td-tech-stack-conceal) ;
}

#abt-me-text.abt-me-truncated {
    height: 13.6rem;
}

.abt-me-expand-btn {
    font-size: var(--fs-120);
    font-weight: var(--fw-subhead);
    width: fit-content;
    margin: 0 auto 0.188rem auto;
    transition: ease-in-out 30ms;
    cursor: pointer;
}

.abt-me-expand-btn:active {
    transform: scale(0.9);
}

.social-links {
    margin: 1.25rem 0;
    justify-content: space-between;
}

.social-links * {
    font-size: var(--fs-660);
    user-select: none;
}

.email-link {
    font-weight: var(--fw-name-n-intro);
}

.social-links a {
    color: var(--clr-main-text);
    transition: ease-in-out var(--td-hover-anim);
    height: 3.75rem;
}

.social-links a:has(span) {
    transform: translateY(-12%);
}

.social-links a:hover {
    font-size: 4.6rem;
}

.social-links a:hover:active, .social-links a:active  {
    color: var(--clr-highlight-text)
}

/* ---------------------------- ABOUT ME */

/* ------------------------------------------------- PROJECTS */

.projects {
    width: 100%
}

.project-section-banner, .tech-stack-banner {
    text-align: right;
}

.project-list {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.875rem;
    gap: 5%;
}

.project-list * {
    flex-shrink: 0;
}

.project-card {
    width: 21.875rem;
    height: fit-content;
    margin-bottom: 3.125rem;
    flex-grow: 1;
    transition: ease-in-out var(--td-hover-anim);
}

.project-thumbnail {
    background-color: white;
    aspect-ratio: 350/223;
    height: auto;
    border-radius: 0.188rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: relative;    
}

.project-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 50;
    transition: ease-in-out var(--td-hover-anim);
}

.thumbnail-screen {
    height: 100%;
    width: 100%;
    background-color: var(--clr-main-text);
    opacity: 0;
    transition: ease-in-out var(--td-hover-anim);
    position: absolute;
    z-index: 100;
}

.project-card:hover {
    .thumbnail-screen {
        opacity: 0.1;
    }

    .project-thumbnail img {
        transform: scale(1.05);
    }
}

.project-info {
    height: 1.875rem;
    flex-direction: row;
    align-items: center;
    margin-top: 0.313rem
}

.project-name {
    width: fit-content;
    height: fit-content;
    font-size: var(--fs-160);
    font-weight: var(--fw-subhead);
    color: var(--clr-main-text);
}

.info-tag {
    display: inline-block;
    background-color: var(--clr-tag-bg);
    width: fit-content;
    height: 1.625rem;
    border-radius: 2.188rem;
    font-size: var(--fs-120);
    padding: 0.313rem 0.688rem;
    margin: 0 0.625rem;
}


/* ---------------------------- PROJECTS */

/* ------------------------------------------------- TECH-STACK */

.tech-stack-oncolapse {
    margin-top: 4.375rem;
    transition: ease-in-out var(--td-tech-stack-conceal);
}

.tech-list-oncolapse-container {
    overflow: hidden;
    margin-top: 1.875rem;
    width: 85%;
    margin-left: auto;
    transition: ease-in-out var(--td-tech-stack-conceal);
    height: fit-content;
}

.tech-list-oncolapse-container:nth-of-type(2) {
    height: 13.125rem
}

.tech-list-oncolapse-container.retracted {
    height: 1.688rem;
}

.ts-banner {
    margin-bottom: 1.25rem;
    margin-left: auto;
    text-align: right;
    position: relative;
    z-index: 50;
    background-color: var(--clr-main-bg);
    cursor: pointer;
    transition: ease-out var(--td-tech-stack-conceal);
}

.ts-banner-hr, .ts-banner-hr-cover {
    transform: translateX(0.0625rem);
}

.tech-list-oncolapse-container.retracted .ts-banner-hr {
    width: 0;
    transition: ease-out var(--td-tech-stack-conceal);
}

.tech-list-oncolapse-container.retracted .ts-banner:hover {
    & .ts-banner-hr {
        width: 100%;
        color: var(--clr-main-text);
        border: revert;
    }
}

.tech-list-oncolapse-container .ts-banner:active {
    & .ts-subtitle {
        transform: scale(0.9);
    }
}

.ts-banner-hr-cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    margin: 0;
    border-color: var(--clr-main-bg);
}

.ts-subtitle {
    font-weight: var(--fw-subhead);
    font-size: var(--fs-120);
    user-select: none;
    width: fit-content;
    margin-left: auto;
    transition: ease-out var(--td-click-ease);

}

.tech-list {
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    transform: translateY(0);
    transition: ease-in-out var(--td-tech-stack-conceal);
}

.tech-list.retracted {
    transform: translateY(-100%);
}

.tech-list-oncolapse-container :is( i, img ){
    margin: 0 auto;
}

.tech-list-item {
    width: 33%;
    padding: 8% 0;
    position: relative;
    overflow: hidden;
}

.tech-list-oncolapse-container i {
    font-size: 2.5rem;
}

.tech-list-oncolapse-container img {
    height: 2.5625rem;
}

.tech-list-oncolapse-container i,
.tech-list-oncolapse-container img {
    transition: ease-in-out 150ms;
}

.tooltip {
    width: 100%;
    height: 100%;
    background-color: var(--clr-highlight-text);
    border-radius: 5%;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    transform: scale(0);
    transition: ease-in-out 0.1s;
    transition-delay: 0.1s;
}

.tech-list-item:hover {
    & i,
    & img {
        transform: scale(0.8);
    }

    .tooltip {
        transform: scale(1);
    }
}

.tooltip h3 {
    margin: 0 auto;
    text-align: center;
    font-weight: var(--fw-subhead);
}

.tech-list-oncolapse-container .tooltip {
    font-size: var(--fs-120);
}

/* ---------------------------- TECH-STACK */

/* ------------------------------------------------- FOOTER */

footer {
    margin-top: 1 0.0rem;
    width: 100%;
}

.footer-container {
    height: 6.25rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    font-size: var(--fs-120);
}

/* ---------------------------- FOOTER */

/* ------------------------------------------------- RESPONSIVITY */

@media ( max-width: 112.5rem ) {
    main {
        padding: 5.0rem 10%;
        gap: 3.125rem;
    }
    
}

@media ( max-width: 104.3125rem ) {
    main {
        padding: 5.0rem 14%;
    }

}

@media ( max-width: 96.25rem ) {
    
    .projects {
        width: 34.375rem
    }

    main {
        padding: 5.0rem 15%;
    }
}

@media ( max-width: 62.5rem ) {
    main {
        padding: 5.0rem 10%;
    }
}

@media ( max-width: 55.25rem ) {

    .subtitle {
        font-size: var(--fs-240);
    }

    main {
        padding: 5.0rem 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 6.25rem;
    }

    main > * {
        margin-right: auto;
        margin-left: auto;

    }

    .personal-intro span {
        margin-right: 0.625rem;
        text-wrap: nowrap;
    }

    .personal-intro .hr {
        margin-left: auto;
        width: 45%;
    }

    .personal-intro h2 {
        font-size: 2.96875rem;
        height: fit-content;
    }

    .about-me-section {
        width: min( 95%, 43rem);
    }

    #abt-me-text {
        height: 23.5rem;
    }

    #abt-me-text.abt-me-truncated {
        height: 10.9rem;
    }

    .tech-stack-oncolapse {
        margin-bottom: 2.25rem;
        min-height: 29.0625rem;
        margin-top: 10.125rem;
    }

    .ts-subtitle {
        font-size: var(--fs-140)
    }
    

    .projects, .colapse-catch-container{
        width: min( 25.0rem, 80% )
    }

    .project-card {
        width: 100%;
    }
}

@media ( max-width: 31.25rem ){
    
    .personal-intro h2 {
        font-size: clamp( 9.1718vw, 9.1718vw, 9.5vw );
    }
    /* 9.154vw */
}

@media ( max-width: 28.75rem ){

    #abt-me-text.abt-me-truncated {
        height: 12.5rem;
    }

    #abt-me-text {
        height: 26.125rem;
    }

}

@media ( max-width: 26.5625rem ){

    #abt-me-text {
        height: 28.9rem;
    }

    #abt-me-text.abt-me-truncated {
        height: 13.7rem;
    }

}

@media ( max-width: 23.625rem ){

    #abt-me-text {
        height: 29.9rem;
    }

    #abt-me-text.abt-me-truncated {
        height: 15rem;
    }

}

@media ( max-width: 22.25rem ){

    #abt-me-text {
        height: 36.3rem;
    }

    #abt-me-text.abt-me-truncated {
        height: 16.4rem;
    }

}
/* ----------------------------- RESPONSIVITY */
